<%- include('./partials/head') %>
<h1>Plaats een Initiatief</h1>
    <form id="initiatiefForm" enctype="multipart/form-data">
        <div>
            <label for="naam">Naam:</label>
            <input type="text" id="naam" name="naam" required>
        </div>
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="organisatie">Organisatie:</label>
            <input type="text" id="organisatie" name="organisatie">
        </div>
        <div>
            <label for="omschrijving">Omschrijving:</label>
            <textarea id="omschrijving" name="omschrijving" required></textarea>
        </div>
        <div>
            <label for="bijlage">Bijlage (bestand of afbeelding):</label>
            <input type="file" id="bijlage" name="bijlage">
        </div>
        <button type="submit">Plaats Initiatief</button>
    </form>